/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(https://imgur.com/Ra9MOJP.png);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svg);
}

.ds4.white .trigger {
    background-image: url(https://imgur.com/y1pSeEz.png);
}

.ds4.white .bumper {
    background-image: url(https://imgur.com/v1STvl9.png);
}

.ds4.white .touchpad.pressed {
    background-image: url(ps4-white-assets/touchpad.svg);
}

.ds4.white .back, .ds4 .start {
    background-image: url(https://imgur.com/NQ7ZT4D.png);
}

.ds4.white .button {
    background-image: url(https://imgur.com/jsCzRGx.png);
}

.ds4.white .stick {
    background-image: url(https://imgur.com/E5Ebh5c.png);
}

.ds4.white .face {
    background-image: url(https://imgur.com/iBRlXTv.png);
}

/*END PS4 White Controller Styling*/